/*Config padrão*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --corDetalhes: #3bd9d9;
    --corDetalhes2: #b527cf;
    --corTexto: #fff;
    --corFundo: rgba(255, 255, 255, 0.055);
}

#container {
    background-image: url('./img/Fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color:var(--corTexto);
    font-family: 'Poppins', sans-serif;
}

.fadeout {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
    transition: all 5s;
}
/*Config padrão*/




/*Config header*/
header {
    background-color: var(--corFundo);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#head-title {
    color: var(--corDetalhes);
}

#nav-principal {
    margin-right: 70px;
    align-self: center;
}


#nav-principal a {
     text-decoration: none;
     color: var(--corTexto);
     margin: 10px;
     padding: 5px;
}

#nav-principal a:hover {
    background-image: linear-gradient(to right, var(--corDetalhes), var(--corDetalhes2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.active {
    border-bottom: 2px solid  var(--corDetalhes);
}

@media (max-width: 1200px) {
    #nav-principal {display: none;}
}
/*Config header*/




/*Config nav mobile*/
#button-toggler {
    display: none;
}

#checkbox {
    display: none;
}

.toggler {
    position: relative;
    align-self: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.line {
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: transform .25s, opacity .35s;
}

.line--top {
    transform: translateY(-7px);
}

.line--bottom {
    transform:translateY(7px);
}


#nav-principal-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.938);
      position: absolute;
      top: 0px;
      overflow: hidden;
      width: 0%;
      height: 100vh;
      z-index: 10;
}


#menu-mobile-a1 ,#menu-mobile-a2, #menu-mobile-a3 {
    margin: 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    opacity: 0;
    margin-right: 300px;
}



#nav-principal-mobile a:active {
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#close-mobile {
    font-size: 20px;
    margin: 5px;
    color: rgba(255, 255, 255, 0.555);
    cursor: pointer;
}

.active-mobile {
    border-left: 3px solid var(--corDetalhes);
    border-right: 3px solid var(--corDetalhes);
    padding: 2px 5px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    #button-toggler {display: block;}
}
/*Config nav mobile*/





/*Config conteúdo central carousel*/
@keyframes fadeCarousel {
    from {opacity: 0;}
    to {opacity: 1;}
}

#sessao1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#conteudo-central {
    padding: 20px 20px 0px 20px;
    text-align: center;
    width: 70%;
    animation-name: fadeCarousel;
    animation-duration: 2s;
    animation-direction: normal;
    overflow: hidden;
}


#conteudo-central h1 {
    margin-bottom:5px;
    font-size: 60px;
}

#conteudo-central h4 {
    margin-bottom:5px;
    font-size: 30px;
}

#conteudo-central i {
    margin-right: 5px;
}

#texto-destaque {
    background-image: linear-gradient(to right,  var(--corDetalhes), var(--corDetalhes2) );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-right: 2px solid rgba(255, 255, 255, 0.219) ;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

.digitar {
    animation: pisca 400ms infinite normal, some 4s steps(25) infinite normal;
}

@keyframes pisca {
    fron {border-right: 2px solid rgba(255, 255, 255, 0.247) ;}
    to {border-right: 2px solid transparent ;}
}


@keyframes some {
    0%{ width: 0; }
    50% {width:230px;}
    100%{ width: 0; }
}

#btn-git {
     padding: 10px;
     border-radius: 10px;
     border: 2px solid var(--corDetalhes2);
     background-color: transparent;
     color: var(--corTexto);
     margin: 10px;
     width: 100px;
     cursor: pointer;
}

#btn-git:hover {
    background-color: var(--corFundo);
    animation: botao;
	animation-duration: 300ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#btn-link {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--corDetalhes);
    background-color: transparent;
    color: var(--corTexto);
    margin: 10px;
    width: 100px;
    cursor: pointer;
}

#btn-link:hover {
    background-color: var(--corFundo);
    animation: botao;
	animation-duration: 300ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes botao {
	0%{transform: scale(1.0);}
	100%{transform: scale(1.1);}
}

@media (max-width: 1200px) {
    #conteudo-central p {margin-bottom:5px;font-size: 19px;}
    #conteudo-central h4 {margin-bottom:5px;font-size: 25px;}
    #btn-git {margin: 5px;width: 85px; font-size: 12px;}
    #btn-link {margin: 5px;width: 85px; font-size: 12px;}
    #conteudo-central {padding: 10px;text-align: center;width: 80%;}
}

@media (max-width: 700px) {
    #conteudo-central p {margin-bottom:5px;font-size: 18px;}
    #conteudo-central h4 {margin-bottom:5px;font-size: 22px;}
    #btn-git {margin: 5px;width: 100px; font-size: 13px;}
    #btn-link {margin: 5px;width: 100px; font-size: 13px;}
    #conteudo-central {text-align: center;width: 100%;}
    #sessao1 {margin: 10px;}
}
/*Config conteúdo central carousel*/




/*Icones stacks*/
#icones-stacks {
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    margin-top: 20px;
    padding-top: 20px;
}

#icones-stacks p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.336) ;
}

#icones-stacks img {
    cursor: pointer;
    margin: 5px;
}

#icones-stacks img:hover {
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.541);
}

#icones-stacks-mobile {
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    margin-top: 20px;
    padding-top: 20px;
    display: none;
}

#icones-stacks-mobile p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.336) ;
}

#skills-stacks {
    cursor: pointer;
    margin: 5px auto;
    width: 80px;
    height: 80px;
}

.imgStack1, .imgStack2, .imgStack3, .imgStack4, .imgStack5, .imgStack6, .imgStack7, .imgStack8, .imgStack9{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    opacity: 0;
}

.imgStack1 {
    background-image: url("https://img.icons8.com/color/48/undefined/git.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack2 {
    background-image: url("https://img.icons8.com/fluency/48/undefined/github.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack3 {
    background-image: url("https://img.icons8.com/color/48/undefined/html-5--v1.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack4 {
    background-image: url("https://img.icons8.com/color/48/undefined/css3.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack5 {
    background-image: url("https://img.icons8.com/color/48/undefined/bootstrap.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack6 {
    background-image: url("https://img.icons8.com/color/48/undefined/sass.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack7 {
    background-image: url("./img/materialize.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack8 {
    background-image: url("https://img.icons8.com/color/48/undefined/javascript--v1.png");
    opacity: 1;
    transition: all 700ms;
}

.imgStack9 {
    background-image: url("./img/jquery2.png");
    opacity: 1;
    transition: all 700ms;
}


@media (max-width: 1200px) {
    #icones-stacks{display: none;}
    #icones-stacks-mobile{display: block;}
}
/*Icones stacks*/



/*Arrows carousel*/
#arrow-left i {
    color: white;
    cursor: pointer;
    font-size: 35px;
    margin-right: 10px;
}

#arrow-left i:hover {
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#arrow-right i {
    color: white;
    cursor: pointer;
    font-size: 35px;
    margin-left: 10px;
}

#arrow-right i:hover {
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.d-none {
    display: none;
}

.d-flex {
    display: block;
}
/*Arrows carousel*/





/*Config conteúdo central2 carousel*/
#conteudo-central2 {
    padding: 20px;
    text-align: center;
    width: 70%;
    animation-name: fadeCarousel;
    animation-duration: 2s;
    animation-direction: normal;
    background-color: var(--corFundo);
    border-radius: 10px;
    overflow: hidden;
}

#conteudo-central2 h4 {
    font-size: 40px;
    width: 350px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#img-texto {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

#img-texto p {
    font-size: 16px;
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 20px;
    width: 350px;
}

#img-texto img {
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--corDetalhes);
    width: 190px;
}


#conteudo-central2 i {
    margin-right: 5px;
}

#conteudo-central2 a {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--corDetalhes);
    border: 1px solid var(--corDetalhes);
}

#conteudo-central2 a:hover {
    background-color: rgba(255, 255, 255, 0.13);
    padding: 13px;
    margin-top: 23px;
    border-radius: 13px;
    text-decoration: none;
    color: var(--corDetalhes);
    border: 1px solid var(--corDetalhes);
    transition: all 300ms;
}

@media (max-width: 1200px) {
    #conteudo-central2 {padding: 30px;text-align: center;width: 80%;}
    #conteudo-central2 h4 {font-size: 35px;width: 210px;}
    #img-texto {flex-wrap: wrap;}
    #img-texto img {margin-bottom: 10px; width: 130px;}
    #img-texto p {width: 340px;font-size: 15px;margin-bottom: 5px;}
    #conteudo-central2 a {padding: 7px;margin-top: 5px; font-size: 15px;}
    #conteudo-central2 a:hover {padding: 13px;}
}

@media (max-width: 700px) {
    #conteudo-central2 {text-align: center;width: 100%;}
    #conteudo-central2 h4 {font-size: 30px;width: 180px;}
    #img-texto {flex-wrap: wrap;}
    #img-texto img {margin-bottom: 10px; width: 110px;}
    #img-texto p {font-size: 14px;margin-bottom: 5px;}
    #conteudo-central2 a {padding: 8px;margin-top: 7px; font-size: 15px;}
    #conteudo-central2 a:hover {padding: 10px;}
}
/*Config conteúdo central2 carousel*/






/*Config conteúdo central3 carousel*/
#conteudo-central3 {
    padding: 20px;
    width: 70%;
    animation-name: fadeCarousel;
    animation-duration: 2s;
    animation-direction: normal;
    background-color: var(--corFundo);
    border-radius: 10px;
    overflow: hidden;
}

#conteudo-central3 h4 {
    text-align: center;
    font-size: 40px;
    width: 350px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#scrollspy {
    width: 100%;
    display: flex;
    justify-content: center;
}

#scrollspy-menu {
      width: 20%;
      margin: 3px 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(255, 255, 255, 0.096);
      border-radius: 10px;
}

#scrollspy-menu a {
    color: white;
    text-decoration: none;
    margin: 10px auto;
    text-align: center;
    width: 75%;
}

#scrollspy-menu a:hover {
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#scrollspy-texto {
      width: 80%;
      margin: 3px 10px;
      padding: 10px;
      border: 1px solid rgba(255, 255, 255, 0.096);
      border-radius: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
}    

#scrollspy-texto div {
    padding: 5px;
    width: 90%;
    animation-name: fadeCarousel;
    animation-duration: 3s;
    animation-direction: normal;
}

#scrollspy-texto h2 {
    margin: 10px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    width: 55%;
}

#scrollspy-texto p {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.active-scrollspy {
    border-bottom: 2px solid var(--corDetalhes);
    border-radius: 7px;
    padding: 3px;
    animation-name: fadeCarousel;
    animation-duration: 1s;
    animation-direction: normal;
}

.d-none-spy {
    display: none;
}

.d-block-spy {
    display: block;
}

@media (max-width: 1200px) {
    #conteudo-central3 {width: 80%;}
    #conteudo-central3 h4 {font-size: 30px; width: 300px;}
    #scrollspy-menu a {font-size: 12px;}
    #scrollspy-texto h2 {margin: 10px auto;width: 60%; font-size: 27px;}  
    #scrollspy-texto p {width: 75%;font-size: 16px;}
}

@media (max-width: 700px) {
    #conteudo-central3 {width: 100%;}
    #scrollspy {flex-direction: column;}
    #conteudo-central3 h4 {font-size: 25px; width: 250px;}
    #scrollspy-menu {width: 90%;flex-direction: row; margin: 10px auto;}
    #scrollspy-menu a {font-size: 13px; margin: 0 10px;}
    #scrollspy-texto {width: 95%;padding: 5px;} 
    #scrollspy-texto h2 {margin: 10px auto;width: 60%; font-size: 20px;}  
    #scrollspy-texto p {width: 75%;font-size: 16px;}
}
/*Config conteúdo central3 carousel*/







/*BTN abrir links/form*/
#sessao-contato {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btn-contato-links {
    margin: 20px;
    width: 300px;
    font-size: 35px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--corDetalhes);
    background-color: transparent;
    color: var(--corDetalhes);
    animation-name: btnContatos;
    animation-duration: 2s;
    cursor: pointer;
}

#btn-contato-links:hover {
  box-shadow: 0px 0px 4px 2px var(--corDetalhes);
  background-color: rgba(0, 0, 0, 0.295);
}

#btn-contato-form {
   margin: 20px;
   width: 300px;
   font-size: 35px;
   padding: 10px;
   border-radius: 10px;
   border: 1px solid var(--corDetalhes);
   background-color: transparent;
   color: var(--corDetalhes);
   animation-name: btnContatos2;
   animation-duration: 2s;
   cursor: pointer;
}

#btn-contato-form:hover {
  box-shadow: 0px 0px 4px 2px var(--corDetalhes);
  background-color: rgba(0, 0, 0, 0.295);
}

#volta-links, #volta-form {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

@keyframes btnContatos {
    from {opacity: 0; margin-left: 150px;}
    to {opacity: 1; margin-left: none;}
}

@keyframes btnContatos2 {
    from {opacity: 0; margin-right: 150px;}
    to {opacity: 1; margin-right: none;}
}
/*BTN abrir links/form*/







/*styles contato LINKS*/
#contato-container-links {
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: var(--corFundo);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    animation-name: fadeCarousel;
    animation-duration: 1.5s;
    animation-direction: normal;
}


#contato-container-links h1 {
    font-size: 30px;
    margin: 5px auto 20px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 10px;
    width: 60%;
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


#contato-container-links a {
     border: 1px solid var(--corDetalhes);
     color: var(--corDetalhes);
     margin: 5px 20px;
     border-radius: 8px;
     padding: 10px;
     text-decoration: none;
}

#contato-container-links a:hover {
    background-color: rgba(0, 0, 0, 0.596);
    box-shadow: 0px 0px 5px 2px var(--corDetalhes);
    text-shadow: 0px 0px 3px var(--corDetalhes);
}
/*styles contato LINKS*/







/*styles contato FORM*/
#contato-container-form {
    width: 500px;
    text-align: center;
    background-color: var(--corFundo);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    animation-name: fadeCarousel;
    animation-duration: 1.5s;
    animation-direction: normal;
}

#contato-container-form h1 {
    font-size: 25px;
    margin: 5px auto 20px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 10px;
    width: 90%;
    background-image: linear-gradient(to right, #3bd9d9, #b527cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#contato-container-form form {
    margin: 40px;
}


.input-single {
    margin: 20px 0;
    position: relative;
}

.input-single label {
    color: var(--corDetalhes);
    font-size: 16px;
    position:absolute ;
    top: 0px;
    left: 10px;
    cursor: text;
    transition: 0.8s ease-in-out;
}

.input {
    width: 100%;
    padding: 7px;
    color: rgb(150, 150, 150);
    border: 0;
    border-bottom: 2px solid var(--corDetalhes);
    outline: 0 ;
    background-color: transparent;
    border-radius: 5px;
}


.input:focus , .input:valid {
    border-bottom: 2px solid var(--corDetalhes);
}

.input:focus ~ label , .input:valid ~ label {
   transform: translateY(-18px);
   font-size: 12px;
   color:var(--corDetalhes) ;
}

#form-nomeEmail {
    display: flex;
}

#form-nomeEmail div {
    margin: 5px;
}

#form-nomeEmail2 {
    display: flex;
}

#form-nomeEmail2 div {
    margin: 30px 5px 20px 5px;
}

#form-enviar {
    padding: 5px;
    width: 40%;
    font-size: 20px;
    border: transparent;
    border-bottom: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#form-enviar:hover {
    color: #3bd9d9;
    border-bottom: 1px solid var(--corDetalhes);
    box-shadow: 0px 0px 3px 1px var(--corDetalhes);
}


@media (max-width: 700px) {
    #contato-container-form {width: 380px;padding: 15px;}
    #contato-container-form h1 {font-size: 19px;width: 70%;}
    #contato-container-form form {margin: 25px 10px;}
}
/*styles contato FORM*/






/*Footer*/
footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.363);
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
    width: 280px;
    border-radius: 5px;
    margin: 0 auto;
}
/*Footer*/